.container {
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    border: none;
    display:block;
}

.layui-logo{
    background: url(https://www.seeingdo.com/img/logo.png) center/90% no-repeat;
}